[submodule "team_agus_elixir"]
	path = team_agus_elixir
	url = git@github.com:MachinesAreUs/CodeCamp2017_elixir.git
[submodule "team_felipe_elixir"]
	path = team_felipe_elixir
	url = git@github.com:sohjiro/CodeCamp2017.git
[submodule "team_jj_groovy"]
	path = team_jj_groovy
	url = git@github.com:artesanosoft/codecamp2017-groovy.git
